<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="javaaxp.viewer.SwingViewerApp">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="javaaxp.viewer.ui.Perspective"
            id="javaaxp.xps_swingviewerapp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="javaaxp.viewer.ui.View"
            id="javaaxp.xps_swingviewerapp.view">
      </view>
   </extension>
   <extension
         id="javaaxp_xps_wingviewerapp"
         point="org.eclipse.core.runtime.products">
      <product
            application="javaaxp.xps_swingviewerapp.application"
            name="Java AXP Viewer">
         <property
               name="appName"
               value="Java AXP Viewer">
         </property>
      </product>
   </extension>

</plugin>
